body {
    display: flex;
    height: 185dvh;
    background-color: black;
    font-family: "Josefin Sans", sans-serif;
    justify-content: center;
    background-image: linear-gradient(to bottom, #C3B1E1, black, black, #900D09);
}

.center-main {
    display: flex;
    flex-direction: column;
    width: 50rem;
    height: 100%;
    margin-left: 15%;
    align-items: center;
}

.content-one {
    display: flex;
    margin-top: 5rem;
    width: 90%;
    height: 20rem;
    background-color: black;
    border: solid white 3px;
    border-radius: 10px;
    gap: 2rem;
}

.info-text {
    width: 80%;
    height: 18rem;
    padding: 3px;
    margin-left: 15px;
    color: white;
    font-size: 25px;
    min-width: 250px;
    text-shadow: 1px 1px cadetblue;
}

.kibby {
    width: 120px;
    aspect-ratio: 1/1;
    margin-right: 15px;
}





.song-quote {
    color: white;
    text-shadow: 0 0 5px gold, 0 0 10px gold, 0 0 20px gold, 0 0 30px gold;
    border-bottom: 2px white dashed;
}





.about-me-box {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 80rem;
    border: solid white 3px;
    border-radius: 10px;
    background-color: black;
}

.about-me-header {
    align-self: center;
    color: white;
    text-shadow: 0 0 5px cadetblue, 0 0 10px cadetblue, 0 0 20px cadetblue, 0 0 30px cadetblue;
    border-bottom: 3px white double;
}

.about-me-list {
    width: 60%;
    height: 10rem;
    padding: 2rem;
    list-style-type: square;
    color: white;
    font-size: 25px;
    text-shadow: 1px 1px cadetblue;
}

.about-me-text {
    border-top: dashed 2px white;
    border-bottom: dashed 2px white;
    border-radius: 50px;
    padding: 2rem;
    color: white;
    font-size: 25px;
    text-shadow: 1px 1px cadetblue;
}

.screenie-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50rem;
    
}

.screenie {
   width: 90%;
   height: 30rem;
   border: solid 2px white;
   border-radius: 5px;
   border-style: dashed dashed solid solid;
}

.screenie-text {
    text-shadow: 1px 1px cadetblue;
    color: white;
    font-weight: 200;
}





.center-right {
    display: flex;
    flex-direction: column;
    width: 25rem;
    height: 100%;
    gap: 3rem;
}

.side-content-one {
    margin-top: 5rem;
    margin-left: 2rem;
    width: 15rem;
    height: 18rem;
    background-color: black;
    padding: 1rem;
    border: white 3px;
    border-style: solid;
    border-radius: 50px;
}

.game-header {
    color: white;
    text-shadow: 0 0 5px crimson, 0 0 10px crimson, 0 0 20px crimson, 0 0 30px crimson;
}

li {
    margin-bottom: 10px;
    color: white;
    text-shadow: 1px 1px cadetblue;
}

a, a:visited, a:link {
    color: white;
    text-shadow: 1px 1px cadetblue;
    text-decoration: none;
}

a:hover {
    text-shadow: 0 0 5px cyan, 0 0 10px cyan, 0 0 20px cyan, 0 0 30px cyan;
}

.side-content-two {
    width: 5rem;
    height: 6rem;
    margin-right: 15rem;
    border-radius: 2px;
    margin-left: 3rem;
}

.run-kibby {
    width: 6rem;
    aspect-ratio: 1/1;
    margin-left: 9rem;
}

.side-content-three {
    margin-left: 2rem;
    width: 15rem;
    height: 12rem;
    background-color: black;
    padding: 1rem;
    border: white 3px;
    border-style: solid;
    border-radius: 50px;
}

.specs-header {
    text-align: center;
    color: white;
    text-shadow: 0 0 5px crimson, 0 0 10px crimson, 0 0 20px crimson, 0 0 30px crimson;
}

.side-content-four {
    margin-top: 5rem;
    width: 15rem;
    height: 12rem;
}

.mizu {
    width: 200px;
    aspect-ratio: 1/1;
}















/* This section is for media queries */

/* Mobile */
@media (max-width: 1130px) {

    body {
        flex-wrap: wrap;
    }

    .info-text {
        font-size: 18px;
    }

    .kibby {
        width: 100px;
        aspect-ratio: 1/1;
        margin-right: 40px;
    }

    .screenie {
        height: 20rem;
    }
}